/* medienhaus.css */

@import url("./normalize.css");
@import url("./fonts.css");

:root {
  --color-background: 0 0% 100%;
  --color-foreground: 0 0% 0%;
  --margin: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

html {
  background-color: hsl(var(--color-background) / 100%);
  color: hsl(var(--color-foreground) / 100%);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 100%;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  font-size: 1rem;
  min-height: 100%;
  padding: calc(var(--margin) * 0.8) calc(var(--margin) * 1)
    calc(var(--margin) * 1.6);
}

body > * + *,
body > * > * + * {
  margin-top: var(--margin);
}

code {
  background-color: hsl(var(--color-foreground) / 5%);
  font-family: "Roboto Mono", monospace;
  font-weight: normal;
  padding: 0 calc(var(--margin) * 0.2);
  word-wrap: break-word;
}

em,
i {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
  margin: unset;
}

hr {
  border-color: hsl(var(--color-foreground) / 20%);
  border-radius: unset;
  border-style: solid;
  border-width: calc(var(--margin) * 0.05);
  margin: var(--margin) 0;
}

ul {
  font-feature-settings: "case";
  list-style-position: inside;
  list-style-type: square;
}

strong,
b {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: 0 0% 8%;
    --color-foreground: 0 0% 100%;
  }
}
